<%- include("header") %>
        </div> 
      <main>
       
</div>
<div style="margin-left:20%">

  <div class="button-container"> 
    <button class="info-button1" onclick="showPopup2()"><b>Important</b></button>
    
    <div style="margin-left: auto;"> <!-- This div aligns the following buttons to the right -->
      <form method="post" action="/RetakeTransactionsGet" style="display: inline-block;">
        <button class="info-button" style="margin-right: 10px;" type="submit"><b>Get transactions</b></button>
        <input type="hidden" id="userAccountInput2" name="userAccount2" value="">
      </form>
    
      <button class="info-button" onclick="showPopup()"><b>FX Payment</b></button>
      <button class="info-button" onclick="showPopup3()"><b>Retake Payment</b></button>
    </div>
  </div>

<div id="popup" class="popup">
  <div class="close-btn" onclick="closePopup()">X</div>
  <form id="paymentForm" action="/FXPayment" method ='post'>
    <label for="studentBarcode" style="color:black">Student Barcode:</label>
    <input type="number" name="student_barcode" required> 
  
    <label for="fullName" style="color:black">Full Name:</label>
    <input type="text" name="full_name" required>    
    
    <input type="hidden" id="userAccountInput" name="userAccount" value="">
    <br><br>
    <!-- Dropdown for Education Program -->
    <label for="edProgram" style="color:black">Education Program:</label>
    <select name="ed_program" required>
      <option value="ITM">ITM</option>
      <option value="ITE">ITE</option>
      <option value="DJ">DJ</option>
      <option value="IT">IT</option>
      <option value="CS">CS</option>
      <option value="TS">TS</option>
      <option value="SE">SE</option>
      <option value="MT">MT</option>
    </select>
<br><br>
    <label for="subject" style="color:black">Subject:</label>
    <input type="text" name="subject" required>
    
    <button type="submit">Connect</button>
  </form>
</div>


<div id="popup3" class="popup">
  <div class="close-btn" onclick="closePopup3()">X</div>
  <form id="paymentForm" action="/RetakePayment" method ='post'>
    <label for="studentBarcode" style="color:black">Student Barcode:</label>
    <input type="number" name="student_barcode" required> 
  
    <label for="fullName" style="color:black">Full Name:</label>
    <input type="text" name="full_name" required>    
    <label for="fullName" style="color:black">Number Of Credits</label>
    <input type="number" name="numberOfcredits" required>    
    <input type="hidden" id="userAccountInput3" name="userAccount3" value="">
    <br><br>
    <!-- Dropdown for Education Program -->
    <label for="edProgram" style="color:black">Education Program:</label>
    <select name="ed_program" required>
      <option value="ITM">ITM</option>
      <option value="ITE">ITE</option>
      <option value="DJ">DJ</option>
      <option value="IT">IT</option>
      <option value="CS">CS</option>
      <option value="TS">TS</option>
      <option value="SE">SE</option>
      <option value="MT">MT</option>
    </select>
<br><br>
    <label for="subject" style="color:black">Subject:</label>
    <input type="text" name="subject" required>
    
    <button type="submit">Connect</button>
  </form>
</div>




    <div id="popup2" class="popup">
        <div class="close-btn" onclick="closePopup2()">X</div>
<p class="info-paragraph">Academic Period (Term) - a period of theoretical learning.</p>

<p class="info-paragraph">Midterm Examination - a periodic assessment of students' academic achievements (accounts for 30% of the total grade for the trimester).</p>

<p class="info-paragraph">Endterm Examination - also a periodic assessment of students' academic achievements (accounts for 30% of the total grade for the trimester).</p>

<p class="info-paragraph">After each trimester, there will be a Final Exam, which accounts for 40% of the total grade for the trimester.</p>

<p class="info-paragraph">&nbsp&nbsp&nbspTo obtain a certificate from the educational institution: FORM. There are several options available:</p>

<p class="info-paragraph">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Second option - management by defense authorities (military enlistment office). Then there's either Appendix 4 or 6, which is for the local military commissariat.</p>

<p class="info-paragraph">Final exam score between 25-49% — possibility to retake for a fee.</p>

<p class="info-paragraph">Attendance below 70% - retake.</p>

<p class="info-paragraph">PES for the course:</p>

<p class="info-paragraph">&nbsp&nbsp&nbsp- 1 — 3 Assignments, with individual scores. Total — 60, Midterm — 40. Contributes 30% to the total grade.</p>

<p class="info-paragraph">&nbsp&nbsp&nbsp- 2 — 5 Assignments. Total — 60, Endterm — 40. Contributes 30% to the total grade.</p>

<p class="info-paragraph">&nbsp&nbsp&nbsp- 3 — Final exam. Contributes 40% to the total grade.</p>

<p class="info-paragraph">Not less than 25% for each term. If below 25% - academic warning.</p>

<p class="info-paragraph warning">Below 50% - fail.</p>

<p class="price-info">ITM|ITE|DJ - 13318 тенге</p>
    <p class="price-info">IT|CS|TS - 16742 тенге</p>
    </div>

    <div class="hr"></div>
    <% if (username == "hehe@hehe") { %>
      <form method="post" action='/setRequiredPriceIT' style="display: block; margin-right: 10px;">
        <button class="info-button1" type="submit"><b>Set Price(IT,SE,MT,CS,TS)</b></button>
        <input type="number" style="height:30px" name="retakeprice">      
        <input type="hidden" id="userAccountInput6" name="userAccount6" value="">
      </form>
      <form method="post" action='/setRequiredPriceDJ' style="display: block; margin-right: 10px;">
        <button class="info-button1" type="submit"><b>Set Price(DJ,ITE,ITM)</b></button>
        <input type="number" style="height:30px" name="FXprice">      
        <input type="hidden" id="userAccountInput7" name="userAccount7" value="">
      </form>
      <form method="post" action='/setUniAddressFXRetake' style="display: block; margin-right: 10px;">
        <button class="info-button1" type="submit"><b>Set university Address</b></button>
        <input type="text" style="height:30px" name="uni">      
        <input type="hidden" id="userAccountInput5" name="userAccount5" value="">
      </form>
      <form method="post" action="/TransactionsGetAllFXRetake" style="display: block;">
        <button class="info-button1" type="submit"><b>Get All transactions</b></button> 
        <input type="hidden" id="userAccountInput4" name="userAccount4" value="">
      </form>
    <% }else{ %>
<div class="col-lg-11">
    <p class="section-header">STEP 1. Determine the Amount:</p>

    <p class="info-paragraph">Contact your academic institution to determine the total amount due for retaking the credits. This could include tuition fees, administrative fees, or any other associated costs.</p>

    <p class="section-header">STEP 2. Choose a Payment Method:</p>

    <p class="info-paragraph">Most academic institutions offer various payment methods, including online payment, credit/debit card, electronic funds transfer (EFT), or in-person payments. Choose the method that is most convenient for you.</p>

    <p class="section-header">STEP 3. Access the Online Payment Portal (If Applicable):</p>

    <p class="info-paragraph">If your institution provides an online payment portal, log in to your student account on their website. Navigate to the payment section and select the option for retaking credits. Enter the necessary details as prompted.</p>

    <p class="section-header">STEP 4. Enter Payment Details:</p>

    <p class="info-paragraph">If paying online, enter your credit/debit card information or provide the necessary bank account details. Ensure that you enter the correct card number, expiry date, CVV, or any other required information.</p>

    <p class="section-header">STEP 5. Verify Payment Information:</p>

    <p class="info-paragraph">Double-check all the payment details to ensure accuracy. Confirm the amount you're paying and review the transaction before finalizing the payment.</p>

    <p class="section-header">STEP 6. Complete the Transaction:</p>

    <p class="info-paragraph">Once you've verified the payment information, proceed to complete the transaction. If you're using an online payment portal, follow the prompts to confirm and finalize the payment.</p>

    <p class="section-header">STEP 7. Save Confirmation Details:</p>

    <p class="info-paragraph">After the payment is successfully processed, save the confirmation receipt or note down the transaction number. This serves as proof of payment and can be helpful in case of any discrepancies.</p>

    <p class="section-header">STEP 8. Check Payment Status (If Applicable):</p>

    <p class="info-paragraph">If your institution provides an online student portal, check the payment status to ensure that the payment has been recorded. If there are any issues, contact the institution's billing or finance department for assistance.</p>

    <p class="section-header">STEP 9. Keep Payment Confirmation:</p>

    <p class="info-paragraph">Retain a copy of the payment confirmation, either digital or printed. This is important for your records and can be useful for future reference or inquiries.</p>

    <p class="section-header">STEP 10. Contact Customer Support (If Needed):</p>

    <p class="info-paragraph">If you encounter any problems during the payment process, don't hesitate to contact the institution's customer support or finance department. They can provide guidance and assistance to resolve any issues you might face.</p>

    <p class="info-paragraph warning">Thank you for choosing this convenient payment method. We appreciate your cooperation.</p>
</div>
<%}%>
  </div>
<div class="solid"></div>



<div class="footer-basic" style="margin-left: 15%;">
          
  <div class="social"><a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a><a href="https://ru.linkedin.com/"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com"><i class="icon ion-social-twitter"></i></a><a href="https://ru-ru.facebook.com/"><i class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
  <p class="copyright">UniPay Wallet © 2023</p>

</div></main>
<script>
connect()
  function showPopup2() {
    document.getElementById('popup2').style.display = 'block';
}

function closePopup2() {
    document.getElementById('popup2').style.display = 'none';
} 
function showPopup3() {
  document.getElementById('popup3').style.display = 'block';
}

function closePopup3() {
  document.getElementById('popup3').style.display = 'none';
} 
        function showPopup() {
            document.getElementById('popup').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }

        function submitForm() {
          alert("WARNING! MetaMask will open");
      }
  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  async function connect(){
    try {
      // Requesting accounts from the user's wallet
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
  
      // Access the first account in the array
      const userAccount = accounts[0];
  
      console.log(userAccount);
      document.getElementById('userAccountInput').value = userAccount;
      document.getElementById('userAccountInput2').value = userAccount;
      document.getElementById('userAccountInput3').value = userAccount;
      
    document.getElementById('userAccountInput6').value = userAccount;
    document.getElementById('userAccountInput4').value = userAccount;
    document.getElementById('userAccountInput5').value = userAccount;
      document.getElementById('window').value = window.ethereum;
      return userAccount;
      
    } catch (error) {
      console.error('Error connecting to Ethereum:', error);
      return null; // or handle the error in some way
    }
   }
  </script>
    <script src="js/myscript.js" charset="utf-8" ></script>
    <script src="js/theme.js" charset="utf-8" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>

</body>
